@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a:link{
    text-decoration: none;
}
.sidemenu{
    float: left;
    width: 245px;
    height: 800px;
    background-color: #fff;
    border-right: 1px solid rgb(225, 225, 225);
    position: fixed;
    
}
.ig-logo{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px ;
    width: 113px;
    height: 42px;
}
.sidebtn{
    text-decoration: none;
    background-color: #fff;
    display: flex;
    height: 40px;
    width: 210px;
    padding: 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 16px;
}
.sidebtn:hover{
    background-color: rgb(204, 204, 204);
    font-weight: bold;
}
.sidebtn:active{
    background-color: rgb(108, 108, 108);
    font-weight: bold;
}
.button__text,
.button__icon{
    display: inline-flex;
    padding: 0 10px;
    align-items: center;
    height: 100%;
}
.button__icon{
    font-size: 1.5em;
}
.miniprofilepic{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.profileheading{
    background-color: #fff;
    height: 250px;
    width: 1515px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.profilepic{
    width: 150px;
    float: left;
    margin-top: 40px;
    margin-left: 480px;
}
.profilepic img{
    border-radius: 100px;
    height: 150px;
    width: 150px;
}
.profileheader{
    width: 380px;
    margin-top: 40px;
    margin-left: 95px;
    float: left;
    font-size: 20px;
    display: flex;
    text-align: center;
}
.editprofile{
    background-color: #f2f2f2;
    font-weight: bold;
    margin-left: 40px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.editprofile:hover{
    background-color: rgb(204, 204, 204);
}
.editprofile:active{
    background-color: rgb(108, 108, 108);
    font-weight: bold;
}
.settings{
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
    display: inline;
    align-items: center;
    cursor: pointer;
}
.stats{
    font-weight: bold;
    margin-left: 715px;
    margin-top: 90px;
    position: absolute;
}
.posts, .followers, .following{
    margin-left: 10px;
}
.Tab-list{
    background-color: #fff;
    display: inline-flex;
    float: none;
    margin-left: 640px;
    width: 500px;
}
.tablist{
    padding: 0;
    margin: 0;
    width: 600px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.tablist li{
    margin: 10px;
    list-style: none;
}
.tablist a{
    color: black;
    text-decoration: none;
}
.tab-icon, .tab-text{
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
    font-size: 12px;
}

.pictures{
    background-color: #fff;
    position: relative;
    height: auto;
    width: 1180px;
    margin-left: 300px;
    display: inline-flex;
}
table{
    margin: auto;
    border: hidden;
    border-width: 1px;
}
table td{
    width: 300px;
}
table t{
    height: 300px;
}
table img{
    display: block;
    height: 100%;
    width: 100%;
}
table img:hover{
    filter: brightness(80%);
}