

body {
    margin:0px;
}


header {
    background-color:rgb(255, 255, 255);
  
}

nav {
    background-color:rgb(255, 255, 255);
}

article {
    background-color:rgb(255, 255, 255);

}

.all-content {
    display:flex;
    justify-content: center;


}

.reg{
    flex-direction: column;
    display:flex;

    
    
}

.ig_pic {

    margin:15px;

}

.registration{
    
    height:600px;
    width:320px;
    border:1px solid;
    border-color:#DBDBDB;
    margin-bottom:10px;

    
}

.content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    padding:30px;
    padding-top:40px;

}

.content img{
    
    width:180px;
    height:auto;
    margin:auto;
    margin-bottom:5px;

}

.content .sign{
    margin-bottom:5px;
    font-family:Arial, Helvetica, sans-serif;
    color:grey;
    font-weight:bold;
    font-size:17px;
}

.content input{
    
    border:1px solid #DBDBDB;
    width:auto;
    height:35px;
    margin-bottom:5px;
    font-size:11px;
    font-family:arial;
    padding-left:10px;
    background-color:#FAFAFA;
    border-radius: 3px;
    
}

.content button {
    height:33px;
    border-radius:8px;
    border:none;
    background-color:#4CB5F9;
    color:white;
    font-weight: 700;
    font-family: Arial;
    cursor:pointer;
    margin-top:10px;
}
 .content .orr {
    margin-top: 10px;
    font-family: Arial;
    font-size:12px;
    font-weight: 700;
 }

 .content .orr img{
width:10px;
height:10px;
 }

 .content .fb {
    margin-top:10px;
    margin-bottom:-35px;

 }
 .content .fb a{

    margin-left:-50px;

 }

 
 .content .fb img{
    width:20px;
    height:20px;
    float:left;
    margin-left:55px;

 }

 .content a {
    text-decoration: none;
    font-size:12px;
    font-family: Arial;

    color:#3877B8;

 }

 .content .orrr p {
    font-family: Arial;
    font-size:12px;
    color:grey;
 }


.Sign_up{
    height:50px;
    width:auto;
    border:1px solid;
    border-color:#DBDBDB;
    text-align:center;
    font-family:Arial;
    font-size:14px;
    padding:10px;
    
}

.Sign_up a{
    text-decoration: none;
}

.download {

    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    border:none;
}

.d-content p{
    font-family:arial;
    font-size:13.5px;
    text-align:center;
    margin-bottom:20px;
}

.d-content img{
    width:250px;
    height:auto;
    margin:auto;
}

footer {

    background-color:rgb(255, 255, 255);
    text-align:center;
    padding:10px;
    margin-top:25px;
}

footer a{
    text-decoration: none;
    margin-right:10px;
    font-size:12px;
    font-family:arial;
    color:grey;
    margin-bottom:10px;
}

.footer_style{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: solid;
    margin-bottom:20px;
}

footer select{
    cursor:pointer;
}
